* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.background {
    background-color: grey;
    height: 100vh;
    padding-top: 2px;
}

.block {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    margin-top: 15%;
}

.display {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}